#[App]
    PORT=4500
    APP_ENV=development
    API_URL=
    APP_URL=
    JWT_SECRET=N2QzYWI2YzAwYTZjZTM4YjcwYjFjNjYz

#[Rollbar]
    ROLLBAR_ENVIRONMENT=
    ROLLBAR_ACCESS_TOKEN=b6ec878c880f45e993d88bd240d69479

#[Slack]
    SLACK_APP_ID=
    SLACK_CLIENT_ID=
    SLACK_CLIENT_SECRET=
    SLACK_SIGNING_SECRET=
    SLACK_BOT_SCOPES=
    SLACK_USER_SCOPES=

#[PostgreSQL]
    POSTGRES_HOST=localhost
    POSTGRES_PORT=5432
    POSTGRES_USER=gowtham
    POSTGRES_PASSWORD=gautamg485
    POSTGRES_DATABASE=gowtham

MESSAGE_BIRD_KEY=gQ73J3EW1YIiCISoW1hzJK2ob